<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p class="bg-info total-spent">This month: {{ 'spend this months goes here' }}</p>
    </div>
    <div class="col-md-4">
        <p class="bg-primary total-spent">Total: {{ 'Get total spent should be here' }}</p>
    </div>
</div>

<div>
    <form>
        <div class="form-group">
            <label>Amount</label>
            <input type="number" step="0.01" class="form-control" name="new-expense-amount" placeholder="Amount">
        </div>
        <div class="form-group">
            <label>Type</label>
            <select class="form-control" name="new-expense-type">
                <option value="food">{{ 'Food' }}</option>
                <option value="fuel">{{ 'Fuel' }}</option>
                <option value="transport">{{ 'transport' }}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Comment</label>
            <input type="text" class="form-control" name="new-expense-comment" placeholder="Comment">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Type</th>
        <th>Amount</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let expense of expenses">
        <td>{{ expense.type }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.createdAt.toLocaleDateString() }}</td>
    </tr>
    </tbody>
</table>
